{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
    <h1>
        About HA Estate
    </h1>

    <section>
        <h2>Helps you find your next home </h2>
        <p>
            Welcome to HA Estates, your premier destination for finding the perfect
            real estate in Chicago. Our site is dedicated to helping you discover
            your dream home or investment property in one of the most vibrant and 
            diverse cities in the world. Whether you’re looking for a cozy apartment 
            in a bustling neighborhood or a spacious family home in a quiet suburb, 
            HA Estates is here to simplify your search and connect you with the best 
            real estate opportunities that Chicago has to offer.
        </p>
    </section>

    <section>
        <h2>Browse to narrow down your search </h2>
        <p>
            Our “Browse Properties” feature allows you to effortlessly filter
            through our extensive database of listings to find properties that 
            match your specific criteria. You can customize your search based 
            on various parameters such as property type, number of bedrooms, 
            number of bathrooms, and more. This powerful filtering tool is 
            designed to save you time and effort by presenting you with 
            only the most relevant listings that meet your needs and preferences, 
            making your property search efficient and straightforward.
        </p>
    </section>

    <section>
        <h2>Search for your favorite features</h2>
        <p>
            In addition to browsing, our “Search Properties” feature provides
            a dynamic search tool that enables you to find properties based
            on descriptive features. Simply enter keywords that describe
            what you’re looking for, and our advanced search algorithm will
            match your criteria with properties that fit your description. 
            Whether you’re looking for a historic home with character, 
            a modern condo with state-of-the-art amenities, or a property 
            in a specific neighborhood, our search tool makes it easy 
            to pinpoint exactly what you want. At HA Estates, we strive to 
            provide you with the most comprehensive and user-friendly 
            platform for all your real estate needs in Chicago.
        </p>
    </section>

{% endblock %}