{% extends 'base.html' %}
{% from 'components/macros.html' import select_field, filter_produce_form, produce_card %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produce.css') }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <h2>Search for your next home</h2>  
    <form action="{{ url_for('Property.search') }}" method="GET">
        <input type="text" id="query" name="query" placeholder="Search for properties" required>
        <button type="submit">Search</button>
    </form>  
{% endblock %}
