{% extends 'base.html' %}
{% from 'components/macros.html' import select_field, filter_produce_form, produce_card %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produce.css') }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <h2>Search for your next home</h2>  
    <form action="{{ url_for('Produce.produce') }}" method="GET">
        <input type="text" name="search" placeholder="Search for properties">
        <button type="submit">Search</button>  
{% endblock %}
