<nav>
    <div>
        <div class="links-wrapper">
            
            <a href="{{ url_for("Produce.produce") }}">Browse Properties </a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for("Produce.add_produce") }}">Add Produce</a>
            <a href="{{ url_for("Produce.your_produce") }}">Your Produce</a>
            <a href="{{ url_for("Produce.your_orders") }}">Your Orders</a>
            {% endif %}
        </div>

        <div class="links-wrapper">
            <a href="{{ url_for("Produce.property") }}">Search Properties </a>
    </div>
</nav>